* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to right, #76D2B4, #DCD2B4);  
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}
