.introContainer {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.introText {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
}
.bgImg {
  position: absolute;
  top: -3rem;
  right: -5rem;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.hello {
  font-size: 1.7rem;
  font-weight: 200;
}
.name {
  color: yellow;
}
.prof {
  margin-top: -1rem;
}
.para {
  font-size: 1rem;
  font-weight: 200;
}
.linkBtn {
  margin-top: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(233, 230, 230);
}
@media screen and (max-width: 565px) {
  .hello {
    font-size: 1rem;
  }
  .introText{
    font-size: 2rem;
    font-weight: 500;
  }
}
