.introContainer {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.introText {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
}
.bgImg {
  position: absolute;
  top: -3rem;
  right: -5rem;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.hello {
  font-size: 1.7rem;
  font-weight: 200;

}
.name {
  color: yellow;
}
.prof{
  margin-top: -.5rem;
}
.para {
  font-size: 1rem;
  font-weight: 200;
}
.linkBtn {
  margin-top: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(233, 230, 230);
}
@media screen and (max-width: 426px) {
  .hello {
    font-size: 1rem;
    margin-bottom: -5px;
    backdrop-filter: blur(2px); 
  }
  .para{
    font-weight: 300;
    backdrop-filter: blur(2px);
  }
  .introText{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
   
  }
  .bgImg{
    right: -8rem;
   
  }
}
@media screen and (max-width: 376px) {
  .bgImg{
    top: 1rem;
    left: 5.2rem;
    border-radius: 50%;
    height: 12rem;
  }
}
@media screen and (max-width: 321px){
 .bgImg{
left: 3.3rem;
 }
}