.navbar {
  position: sticky;
  top: 0;
  align-items: center;
  display: flex;
  height: 5rem;
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 3;
  background-color: #021526;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.listItem {
  margin: 1rem;
  cursor: pointer;
  transition: 0.1s;
}
.listItem:hover {
  color: yellow;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid yellow;
}

.btnContainer {
  margin: 1rem;
}
.menuBtn {
  padding: 0.5rem 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}
.menuBtn:hover {
  background-color: rgb(233, 230, 230);
}
.active {
  color: yellow;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid yellow;
}
@media screen and (max-width: 376px){
  .listItem{
    margin: 0.6rem;
  }
  .menuBtn{
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 321px){
.listItem{
  margin: .5rem;
  font-size: .8rem;
}
.btnContainer{
  margin: 0.5rem;
}
.menuBtn{
  font-size: .6rem;
}
/* .contactIcon{
  font-size: x-small;
} */
}